-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "super_admin";

-- CreateEnum
CREATE TYPE "super_admin"."Environment" AS ENUM ('DEVELOPMENT', 'QA', 'STAGING', 'PRODUCTION');

-- CreateEnum
CREATE TYPE "super_admin"."ClientStatus" AS ENUM ('ACTIVE', 'SUSPENDED', 'DISABLED');

-- CreateEnum
CREATE TYPE "super_admin"."MicroserviceStatus" AS ENUM ('ACTIVE', 'MAINTENANCE', 'DOWN');

-- CreateEnum
CREATE TYPE "super_admin"."SubscriptionStatus" AS ENUM ('ACTIVE', 'PAST_DUE', 'CANCELED');

-- CreateEnum
CREATE TYPE "super_admin"."ApiKeyStatus" AS ENUM ('ACTIVE', 'REVOKED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "super_admin"."ApiKeyPermission" AS ENUM ('READ', 'WRITE', 'DELETE', 'ADMIN');

-- CreateEnum
CREATE TYPE "super_admin"."HttpMethod" AS ENUM ('GET', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS', 'HEAD');

-- CreateEnum
CREATE TYPE "super_admin"."ApiKeyType" AS ENUM ('PRODUCTION', 'STAGING', 'DEVELOPMENT');

-- CreateEnum
CREATE TYPE "super_admin"."UserRole" AS ENUM ('SUPER_ADMIN', 'ADMIN', 'VIEWER');

-- CreateEnum
CREATE TYPE "super_admin"."HealthCheckType" AS ENUM ('AUTOMATED', 'MANUAL');

-- CreateEnum
CREATE TYPE "super_admin"."AuditAction" AS ENUM ('CLIENT_CREATED', 'CLIENT_UPDATED', 'CLIENT_DISABLED', 'CLIENT_SUSPENDED', 'API_KEY_CREATED', 'API_KEY_REVOKED', 'MICROSERVICE_CREATED', 'MICROSERVICE_UPDATED', 'LOGIN', 'LOGOUT', 'ACCESS_GRANTED', 'ACCESS_REVOKED');

-- CreateEnum
CREATE TYPE "super_admin"."AuditEntity" AS ENUM ('CLIENT', 'API_KEY', 'MICROSERVICE', 'USER', 'SUBSCRIPTION', 'SYSTEM_SETTING');

-- CreateEnum
CREATE TYPE "super_admin"."LogStatus" AS ENUM ('STARTED', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "super_admin"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "super_admin"."UserRole" NOT NULL DEFAULT 'SUPER_ADMIN',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."UserSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "deviceName" TEXT,
    "lastUsedAt" TIMESTAMP(3),
    "revokedAt" TIMESTAMP(3),
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."RefreshToken" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."LoginHistory" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "loginAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LoginHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."Client" (
    "id" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "contactName" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "notes" TEXT,
    "status" "super_admin"."ClientStatus" NOT NULL DEFAULT 'ACTIVE',
    "stripeCustomerId" TEXT,
    "lastRequestAt" TIMESTAMP(3),
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Client_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."ApiKey" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "keyHash" TEXT NOT NULL,
    "status" "super_admin"."ApiKeyStatus" NOT NULL DEFAULT 'ACTIVE',
    "type" "super_admin"."ApiKeyType" NOT NULL DEFAULT 'PRODUCTION',
    "permissions" "super_admin"."ApiKeyPermission"[],
    "allowedDomains" TEXT[],
    "requestCount" INTEGER NOT NULL DEFAULT 0,
    "lastUsedAt" TIMESTAMP(3),
    "createdByUserId" TEXT,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "ApiKey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."Subscription" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "stripePlanId" TEXT NOT NULL,
    "status" "super_admin"."SubscriptionStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."Microservice" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "description" TEXT,
    "version" TEXT NOT NULL DEFAULT '1.0.0',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Microservice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."MicroserviceEnvironment" (
    "id" TEXT NOT NULL,
    "microserviceId" TEXT NOT NULL,
    "environment" "super_admin"."Environment" NOT NULL,
    "targetUrl" TEXT NOT NULL,
    "healthEndpoint" TEXT,
    "status" "super_admin"."MicroserviceStatus" NOT NULL DEFAULT 'ACTIVE',
    "maintenanceMessage" TEXT,
    "timeoutMs" INTEGER NOT NULL DEFAULT 30000,
    "retries" INTEGER NOT NULL DEFAULT 0,
    "maxPayloadSize" INTEGER NOT NULL DEFAULT 1048576,
    "maxConcurrentRequests" INTEGER NOT NULL DEFAULT 100,
    "config" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MicroserviceEnvironment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."ClientAccess" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "microserviceId" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "rateLimit" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "ClientAccess_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."RequestLog" (
    "id" TEXT NOT NULL,
    "requestId" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "microserviceId" TEXT NOT NULL,
    "environment" "super_admin"."Environment" NOT NULL,
    "gatewayInstance" TEXT,
    "endpoint" TEXT NOT NULL,
    "method" "super_admin"."HttpMethod" NOT NULL,
    "status" "super_admin"."LogStatus" NOT NULL DEFAULT 'COMPLETED',
    "statusCode" INTEGER,
    "totalLatencyMs" INTEGER,
    "gatewayLatencyMs" INTEGER,
    "backendLatencyMs" INTEGER,
    "errorMessage" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "headers" JSONB,
    "queryParams" JSONB,
    "requestSize" INTEGER,
    "responseSize" INTEGER,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RequestLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."HealthCheck" (
    "id" TEXT NOT NULL,
    "microserviceId" TEXT NOT NULL,
    "environment" "super_admin"."Environment" NOT NULL,
    "status" "super_admin"."MicroserviceStatus" NOT NULL,
    "statusCode" INTEGER,
    "responseTime" INTEGER,
    "durationMs" INTEGER,
    "errorMessage" TEXT,
    "checkerType" "super_admin"."HealthCheckType" NOT NULL,
    "checkedByUserId" TEXT,
    "checkedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HealthCheck_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "action" "super_admin"."AuditAction" NOT NULL,
    "entity" "super_admin"."AuditEntity" NOT NULL,
    "entityId" TEXT NOT NULL,
    "oldValue" JSONB,
    "newValue" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "super_admin"."SystemSetting" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "description" TEXT,
    "value" JSONB NOT NULL,
    "updatedByUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemSetting_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "super_admin"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserSession_tokenHash_key" ON "super_admin"."UserSession"("tokenHash");

-- CreateIndex
CREATE INDEX "UserSession_userId_idx" ON "super_admin"."UserSession"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON "super_admin"."RefreshToken"("tokenHash");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_idx" ON "super_admin"."RefreshToken"("userId");

-- CreateIndex
CREATE INDEX "LoginHistory_userId_idx" ON "super_admin"."LoginHistory"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Client_email_key" ON "super_admin"."Client"("email");

-- CreateIndex
CREATE UNIQUE INDEX "ApiKey_keyHash_key" ON "super_admin"."ApiKey"("keyHash");

-- CreateIndex
CREATE INDEX "ApiKey_clientId_idx" ON "super_admin"."ApiKey"("clientId");

-- CreateIndex
CREATE INDEX "Subscription_clientId_idx" ON "super_admin"."Subscription"("clientId");

-- CreateIndex
CREATE UNIQUE INDEX "Microservice_slug_key" ON "super_admin"."Microservice"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "MicroserviceEnvironment_microserviceId_environment_key" ON "super_admin"."MicroserviceEnvironment"("microserviceId", "environment");

-- CreateIndex
CREATE INDEX "ClientAccess_clientId_idx" ON "super_admin"."ClientAccess"("clientId");

-- CreateIndex
CREATE INDEX "ClientAccess_microserviceId_idx" ON "super_admin"."ClientAccess"("microserviceId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientAccess_clientId_microserviceId_key" ON "super_admin"."ClientAccess"("clientId", "microserviceId");

-- CreateIndex
CREATE UNIQUE INDEX "RequestLog_requestId_key" ON "super_admin"."RequestLog"("requestId");

-- CreateIndex
CREATE INDEX "RequestLog_clientId_timestamp_idx" ON "super_admin"."RequestLog"("clientId", "timestamp");

-- CreateIndex
CREATE INDEX "RequestLog_microserviceId_timestamp_idx" ON "super_admin"."RequestLog"("microserviceId", "timestamp");

-- CreateIndex
CREATE INDEX "RequestLog_statusCode_idx" ON "super_admin"."RequestLog"("statusCode");

-- CreateIndex
CREATE INDEX "RequestLog_endpoint_idx" ON "super_admin"."RequestLog"("endpoint");

-- CreateIndex
CREATE INDEX "RequestLog_timestamp_idx" ON "super_admin"."RequestLog"("timestamp");

-- CreateIndex
CREATE INDEX "HealthCheck_microserviceId_checkedAt_idx" ON "super_admin"."HealthCheck"("microserviceId", "checkedAt");

-- CreateIndex
CREATE INDEX "AuditLog_userId_idx" ON "super_admin"."AuditLog"("userId");

-- CreateIndex
CREATE INDEX "AuditLog_entity_entityId_idx" ON "super_admin"."AuditLog"("entity", "entityId");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "super_admin"."AuditLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "SystemSetting_key_key" ON "super_admin"."SystemSetting"("key");

-- AddForeignKey
ALTER TABLE "super_admin"."UserSession" ADD CONSTRAINT "UserSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "super_admin"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."RefreshToken" ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "super_admin"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."LoginHistory" ADD CONSTRAINT "LoginHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "super_admin"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."ApiKey" ADD CONSTRAINT "ApiKey_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "super_admin"."Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."ApiKey" ADD CONSTRAINT "ApiKey_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "super_admin"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."Subscription" ADD CONSTRAINT "Subscription_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "super_admin"."Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."MicroserviceEnvironment" ADD CONSTRAINT "MicroserviceEnvironment_microserviceId_fkey" FOREIGN KEY ("microserviceId") REFERENCES "super_admin"."Microservice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."ClientAccess" ADD CONSTRAINT "ClientAccess_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "super_admin"."Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."ClientAccess" ADD CONSTRAINT "ClientAccess_microserviceId_fkey" FOREIGN KEY ("microserviceId") REFERENCES "super_admin"."Microservice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."RequestLog" ADD CONSTRAINT "RequestLog_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "super_admin"."Client"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."RequestLog" ADD CONSTRAINT "RequestLog_microserviceId_fkey" FOREIGN KEY ("microserviceId") REFERENCES "super_admin"."Microservice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."HealthCheck" ADD CONSTRAINT "HealthCheck_microserviceId_fkey" FOREIGN KEY ("microserviceId") REFERENCES "super_admin"."Microservice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."HealthCheck" ADD CONSTRAINT "HealthCheck_checkedByUserId_fkey" FOREIGN KEY ("checkedByUserId") REFERENCES "super_admin"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "super_admin"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "super_admin"."SystemSetting" ADD CONSTRAINT "SystemSetting_updatedByUserId_fkey" FOREIGN KEY ("updatedByUserId") REFERENCES "super_admin"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

